* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #ff7134;
	gap: 30px;
}

p, b {
	font-size: 14px;
}

.btn {
	padding: 7px;
	color: #e7d9d9;
	border-radius: 7px;
}

.red {
	background-color: red;
	border-color: red;
}

.blue {
	background-color: blue;
	border-color: blue;
}

#container {
	border-radius: 10px;
	background-color:  #f5f5b8;
	overflow: hidden;
}

#content {
	padding: 20px;
}

#hud {
	background-color: #1c0303;
	color: #f5f5b8;
	font-size: 19pt;
	padding: 20px;
}

#hcontrols {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

#new-task {
	padding: 10px;
	border-radius: 7px;
	border: none;
	outline-color: blue;
	width: 80%;
}

#add {
	width: 15%;
}


#tasks {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #706b6b;
}

.line-through {
	text-decoration: line-through;
}

.task {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #706b6b;
	border-bottom: 1px solid #706b6b;
}
.fa-trash {
	cursor: pointer;
}

.left, .right {
	display: flex;
	gap: 5px;
}

#fcontrols {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}


.teste {
	background-color: transparent;
	outline: none;
	border: none;
	width: 300px;
}